@model Work

@{
    ViewData["Title"] = "Edytuj roboty";

    Layout = "_AdminLayout";
}

<div class="admin">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="WorkID" />
        <div class="form-group">
            <label asp-for="Type">Typ robót</label>
            <div><span asp-validation-for="Type" class="text-danger"></span></div>
            <textarea asp-for="Type" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Value">Wartość robót</label>
            <div><span asp-validation-for="Value" class="text-danger"></span></div>
            <input asp-for="Value" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Place">Miejsce</label>
            <div><span asp-validation-for="Place" class="text-danger"></span></div>
            <textarea asp-for="Place" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Date">Data</label>
            <div><span asp-validation-for="Date" class="text-danger"></span></div>
            <input asp-for="Date" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Subject">Podmiot którego dotyczą roboty</label>
            <div><span asp-validation-for="Subject" class="text-danger"></span></div>
            <textarea asp-for="Subject" class="form-control"></textarea>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Zapisz</button>
            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
        </div>
    </form>
</div>