<section id="frame"></section>

<section id="content">
    <div class="container">
        <div class="contactleft">
            <h1>Dane kontaktowe</h1>
            <p>
                <ul>
                    <li>Zakład Remontowo-Budowlany Artur Grzyb,</li>
                    <li>ul. ks. Jana Gałeczki 22,</li>
                    <li>41-500 Chorzów</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>NIP: 6551009626</li>
                    <li>REGON: 290670454</li>
                </ul>
            </p>
            <p>
                TELEFON: +48 606 750 126
            </p>
            <p>
                EMAIL: kontakt@zrbgrzyb.pl
            </p>
        </div>
        <div class="contactright">
            <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=18.949162960052494%2C50.28529476653815%2C18.967080116271976%2C50.29153958390962&amp;layer=mapnik&amp;marker=50.28842070511273%2C18.95812153816223"></iframe>
        </div>
    </div>
</section>