<section id="frame"></section>

<section id="content">
    <div class="container">

        <p>Zatrudnimy pracowników budowlanych (preferujemy województwo świętokrzyskie, okolice Kielc/Buska-Zdroju), chętnych do pracy na terenie województwa Śląskiego.</p>

        <p>Oferujemy transport, zakwaterowanie, sprzęt i dobre warunki pracy. Chętnie przeszkolimy do zawodu osoby z zapałem do pracy.</p>

        <p>Osoby zainteresowane prosimy o kontakt i ustalenie warunków pracy w naszej firmie.</p>

    </div>
</section>