<section id="frame"></section>

<section id="content">
    <div class="container">
        <div class="offerleft">
            <p>
                Zajmujemy się kompleksowym wykonywaniem prac termomodernizacyjnych wraz z pracami im towarzyszącymi takimi jak:
                <ul>
                    <li>Wymiana stolarki okiennej i drzwiowej</li>
                    <li>Remonty opasek wokół budynków</li>
                    <li>Wymiana pokryć i dociepleń stropodachów</li>
                    <li>Instalacje odgromowe</li>
                    <li>Remonty balkonów/loggi wraz z wymianą balustrad</li>
                    <li>Montowanie zadaszeń nad balkonami i wejściami</li>
                </ul>
            </p>
            <p>
                Nasza firma szczyci się kilkunastoletnim doświadczeniem. Oferujemy wykonanie dociepleń metodą lekką-mokrą i suchą w systemach renomowanych i znanych na rynku producentów potwierdzone certyfikatami Farby KABE, Ceresit, Arsanit, Atlas, Kreisel, Baumit, Weber.
            </p>
                Jakość wykonywanych przez nas usług możemy potwierdzić licznymi referencjami wystawionymi przez inwestorów po skrupulatnym wykonaniu robót.
            <p>
                Zatrudniamy najlepszych fachowców oraz posiadamy specjalistyczny sprzęt konieczny do wykonywania prac dociepleniowych.
            </p>
        </div>
        <div class="offerright">
            <img src="~/img/offerbuilding.jpg" alt="offerbuilding" />
        </div>
    </div>
    <div class="offerbottom">
        <img src="~/img/kabe.png" alt="kabe" />
        <img src="~/img/ceresit.png" alt="ceresit" />
        <img src="~/img/arsanit.png" alt="arsanit" />
        <img src="~/img/atlas.png" alt="atlas" />
        <img src="~/img/kreisel.png" alt="kreisel" />
        <img src="~/img/baumit.png" alt="baumit" />
        <img src="~/img/weber.png" alt="weber" />
    </div>
</section>