@model ChangePasswordModel

@{
    ViewBag.Title = "Zmień hasło";
    Layout = "_AdminLayout";
}

<div class="admin">

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="ChangePassword" method="post">
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="CurrentPassword">Obecne hasło</label>
            <div><span asp-validation-for="CurrentPassword" class="text-danger"></span></div>
            <input asp-for="CurrentPassword" class="form-control" type="password" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">Nowe hasło</label>
            <div><span asp-validation-for="NewPassword" class="text-danger"></span></div>
            <input asp-for="NewPassword" class="form-control" type="password" />
        </div>
        <div class="form-group">
            <label asp-for="RepeatNewPassword">Powtórz nowe hasło</label>
            <div><span asp-validation-for="RepeatNewPassword" class="text-danger"></span></div>
            <input asp-for="RepeatNewPassword" class="form-control" type="password" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Zapisz</button>
            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
        </div>
    </form>
</div>